<.modal :if={@live_action in [:new, :edit]} id="expense-modal" show on_cancel={JS.patch(~p"/groups/#{@group_id}")}>
  <.live_component
    module={SplitmoreWeb.ExpenseLive.FormComponent}
    id={@expense.id || :new}
    title={@page_title}
    action={@live_action}
    expense={@expense}
    current_user={@current_user}
    group_id={@group_id}
    patch={~p"/expenses"}
  />
</.modal>
